/* Your CSS styles here! */

h1 a {
    text-decoration: none;
}

body {
    color: darkblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blue {
    color: lightblue;
}

.large {
    font-size: 3rem;
}

.container {
    /* width: 50%; */
    border: 10px dotted purple;
    margin: 1rem;
    padding: 1rem;
}

img {
    width: 100%;
}

section {
    max-width: 62.5em;
    min-width: 70vw;
}